export MTLANCFG_MWL=y
export HND_ROUTER=y
export HND_ROUTER_BE_4916=y
export PROFILE=96813GW
export SW_HW_AUTH=y
export AMAS=y
export UTF8_SSID=y
export ETHOBD=y
export DWB=y
export CONNDIAG=y
export SAMBA3=3.6.x
export OOKLA=y
export WL_SCHED_V3=y
export UBI=y
export UBIFS=y
export PSISTLOG=y
export BUILD_NAME=GT-BE98
export EXT_PHY=BCM84880
export NVSIZE=192
export DHDAP=y
export DPSTA=n
export REPEATER=y
export IPV6SUPP=y
export HTTPS=y
export ARM=y
export AUTODICT=y
export BBEXTRAS=y
export USBEXTRAS=y
export EBTABLES=y
export MEDIASRV=y
export MODEM=y
export PARENTAL2=y
export ACCEL_PPTPD=y
export PRINTER=y
export WEBDAV=y
export SMARTSYNCBASE=y
export USB=USB
export APP=network
export PROXYSTA=y
export DNSMQ=y
export SHP=n
export BCMWL6=y
export BCMWL6A=y
export DISK_MONITOR=y
export BTN_WIFITOG=y
export OPTIMIZE_XBOX=y
export ODMPID=y
export BCMSMP=y
export XHCI=y
export DUALWAN=y
export NEW_USER_LOW_RSSI=y
export OPENVPN=y
export TIMEMACHINE=y
export MDNS=y
export VPNC=y
export JFFS2LOG=y
export BWDPI=y
export DUMP_OOPS_MSG=n
export LINUX_MTD=64
export DEBUGFS=y
export TEMPROOTFS=n
export SSH=y
export EMAIL=y
export FRS_FEEDBACK=n
export SYSSTATE=y
export ROG=y
export STAINFO=y
export CLOUDCHECK=n
export NATNL_AICLOUD=y
export REBOOT_SCHEDULE=y
export MULTICASTIPTV=y
export QUAGGA=y
export WLCLMLOAD=n
export BCM_MUMIMO=y
export LAN50=all
export ATCOVER=y
export GETREALIP=y
export CFEZ=y
export ETLAN_LED=y
export TFAT=y
export NTFS=tuxera
export HFS=tuxera
export NEWSSID_REV4=y
export NEW_APP_ARM=y
export NETOOL=y
export TRACEROUTE=y
export FORCE_AUTO_UPGRADE=n
export ALEXA=y
export SW_HW_AUTH=y
export HD_SPINDOWN=y
export ASPMD=n
export BCM_MEVENT=n
export BCMEVENTD=y
export BCM_APPEVENTD=n
export LETSENCRYPT=y
export VPN_FUSION=y
export JFFS_NVRAM=y
export NVRAM_ENCRYPT=y
export NATNL_AIHOME=y
export BCM_CEVENTD=y
export UTF8_SSID=y
export I2CTOOLS=y
export AMAS=y
export DBLOG=y
export ETHOBD=y
export CFGSYNC_LOCSYNC=y
export CONNDIAG=y
export IPSEC=STRONGSWAN
export IPSEC_SRVCLI_ONLY=SRV
export DWB=y
export OPEN_NAT=y
export ROG_UI=y
export AMASDB=n
export CRASHLOG=y
export WATCH_REINIT=n
export BW160M=y
export BRCM_HOSTAPD=y
export UUPLUGIN=y
export IPERF3=n
export INFO_EXAP=y
export BCN_RPT=y
export BTM_11V=y
export INTERNETCTRL=y
export ASD=y
export AHS=n
export FRS_LIVE_UPDATE=n
export ASUSCTRL=y
export HAS_5G_2=y
export HAS_6G_2=n
export CAPTCHA=y
export OUTFOX=y
export GAME_MODE=y
export AMAS_ETHDETECT=y
export INSTANT_GUARD=y
export AVBLCHAN=y
export FRONTHAUL_DWB=y
export BCM_CLED=y
export BONDING=y
export BONDING_WAN=n
export ACL96=y
export LACP=y
export OWE_TRANS=y
export DHD_6715B0=y
export EXTEND_LIMIT=y
export GOOGLE_ASST=y
export QUADBAND=y
export IPV6S46=y
export OCNVC=y
export DSLITE=y
export BTN_TURBO=y
export WIREGUARD=y
export BCMBSD_V2=y
export SW_CTRL_ALLLED=y
export COMFW=y
export NFCM=n
export DNSQUERY_INTERCEPT=y
export WIFI7=y
export BW320M=y
export MTLANCFG=y
export CAPTIVE_PORTAL=y
export CP_FREEWIFI=y
export WPA3_ENTERPRISE=y
export EXTRA_KERNEL_CONFIGS=BCM_JUMBO_FRAME=y BCM_MAX_MTU_SIZE=10240 CONFIG_BCM_IGNORE_BRIDGE_MTU=y
export MAX_VPNF=4
export WTFAST_V2=y
export AMAS_OB_DISABLE_DSAP=y
export USB_WAN_BACKUP=y
export AUTO_WANPORT=y
export NFS=n
export SNMPD=y
export TOR=y
export UPNPIGD2=y
export NANO=n
export NTPD=y
export DNSPRIVACY=y
export IPSET=y
export VPN_FUSION_MERLIN=y
